services:
  # https://hub.docker.com/r/linuxserver/radarr
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/radarr:/config
#      - ${movies}:/movies
#      - ${downloads}:/downloads
      - ${DATA}:/data
    ports:
      - "7878:7878"
    restart: unless-stopped
  # https://hub.docker.com/r/linuxserver/sonarr
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - TZ=${TZ}
    volumes:
      - ${CONFIG}/sonarr:/config
#      - ${tv}:/tv
#      - ${downloads}:/downloads
      - ${DATA}:/data
    ports:
      - "8989:8989"
    restart: unless-stopped
  # https://hub.docker.com/r/linuxserver/jackett
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - TZ=${TZ}
      - AUTO_UPDATE=false
#      - RUN_OPTS=<run options here> #optional
    volumes:
      - ${CONFIG}/jackett:/config
      - ${DATA}/downloads:/downloads
    ports:
      - "9117:9117"
    restart: unless-stopped
  # https://hub.docker.com/r/linuxserver/plex
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - VERSION=docker
#      - PLEX_CLAIM= #optional
    volumes:
      - ${CONFIG}/plex:/config
      - ${DATA}/tv:/tv
      - ${DATA}/movies:/movies
    restart: unless-stopped
  # https://hub.docker.com/r/linuxserver/qbittorrent
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - TZ=${TZ}
      - WEBUI_PORT=${QBITTORRENT_WEBUI_PORT}
    volumes:
      - ${CONFIG}/qbittorrent:/config
      - ${DATA}/downloads:/downloads
    network_mode: "service:gluetun"
#   ports: # (intercepted by gluetun)
#     - ${QBITTORRENT_WEBUI_PORT}:${QBITTORRENT_WEBUI_PORT} # qbittorrent web ui
    restart: unless-stopped
  # https://github.com/qdm12/gluetun
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    environment:
      - TZ=${TZ}
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
#      - SERVER_CITIES=${SERVER_CITIES}
      - FIREWALL_VPN_INPUT_PORTS=${FIREWALL_VPN_INPUT_PORTS}
    volumes:
      - ${CONFIG}/gluetun:/gluetun
    ports:
      - ${QBITTORRENT_WEBUI_PORT}:${QBITTORRENT_WEBUI_PORT} # qbittorrent web ui
    restart: unless-stopped
