[Unit]
Description=qBittorrent
Wants=network-online.target
After=network-online.target nss-lookup.target mullvad-daemon.service

[Service]
Type=exec
User=qbittorrent
Group=qbittorrent
UMask=002
ExecStart=/usr/bin/qbittorrent-nox
Restart=on-failure

[Install]
WantedBy=multi-user.target